@font-face {
    font-family: TTNorms-regular;
    src: url(font/TTNorms-Regular.woff2);
}
@font-face {
    font-family: TTNorms-medium;
    src: url(font/TTNorms-Medium.woff2);
}
@font-face {
    font-family: TTNorms-bold;
    src: url(font/TTNorms-Bold.woff2);
}
@font-face {
    font-family: TTNorms-extrabold;
    src: url(font/TTNorms-ExtraBold.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji","Segoe UI Symbol";
}
h1,
h4,
p,
button,
div {
  overflow-y: hidden;
}
p{
  font-family: TTNorms-medium;
}
button{
  font-family: TTNorms-medium;
}

/*header css*/

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 72px;
  background-color: transparent;
  display: flex;
  flex: 1;
  z-index: 1000;

}

.header-sections {
  height: 100%;
  width: 100%;
}

.right-header-section {
  height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
    padding: 13px 23px 13px 0;
}
.signin-btn {
  font-size: 18px;
  font-weight: bold;
  font-family: TTNorms-medium;
  background-color: #eb1700;
  color: white;
  border: none;
  width: 81px;
  height: 40px;
  border-radius: 9999px;
  padding-bottom: 1px;
  letter-spacing: 0.5px;
}
.signup-btn {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  color: #606060;
  border: none;
  width: 90px;
  height: 40px;
  border-radius: 9999px;
  padding-bottom: 1px;
  letter-spacing: 0.5px;
}

.middle-header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  height: 100%;
}
.middle-header-section div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.middle-header-section span {
  margin-top: 3px;
  position: relative;
    left: 3px;
    top: 0.80px;
}
.left-header-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  height: 100%;
}
.doordash-logo-hidden {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.left-header-section span {
  margin-right: 8px;
  margin-top: 4px;
  margin-left: 9px;
}
.doordash-logo-small-size-display {
  display: none;
}

/*homepage section  css*/


.homepage-section{
  background: url(images/hero_desktop.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.doordash-logo {
  display: none;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.doordash-logo svg:nth-child(1) {
  margin-left: 4px;
  margin-top: 11px;
  margin-right: 3px;
}
.doordash-logo svg:nth-child(2) {
  margin-left: 5px;
  margin-top: 11px;
}
.homepage-content {
  margin-top: 69px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.homepage-content h1 {
  color: white;
  font-weight: 900;
  max-width: 781px;
  text-transform: uppercase;
  font-size: 40px;
  
}
.address-input {
  padding: 9px 8px 8px 56px;
  width: 408px;
  height: 56px;
  border: none;
  border-radius: 9999px;
  background-color: white;
  color: rgb(168, 164, 164);
  font-size: 16px;
  font-family: TTNorms-medium;
  color: rgb(25, 25, 25);
  line-height: 22px;
  font-weight: 550;
  letter-spacing: 0.01px;
  margin: 20px 0 18px 0px;
}
.address-input:focus{
  border: 2px solid rgb(0, 85, 255);
  outline: none;
}

.input-address-box {
  position: relative;
  bottom: 3px;
}
.input-address-box .location-icon {
  position: absolute;
  left: 20px;
  top: 36px;
}
.input-address-box .search-icon {
  position: absolute;
  left: 196px;
  top: 34px;
  display: none;
}
.ar-btn {
    position: absolute;
    left: 360px;
    top: 28px;
    width: 40px;
    background-color: rgb(233, 9, 9);
    border-radius: 50px;
    border: none;
    color: white;
    height: 40px;
    padding-top: 4px;
}
.auto-sign-in-option {
  width: 203px;
  height: 32px;
  background-color: white;
}
.homepage-content p {
  background-color: white;
  width: 203px;
  text-align: center;
}
.t1 {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 100px;
  padding-right: 101px;
  top: -4px;
}
.t1 svg {
  position: absolute;
  top: 8px;
  left: 14px;
}
.t1 p {
    padding: 8px 5px 0px 25px;
    border-radius: 9999px;
    font-size: 14px;
    font-family: TTNorms-bold;
    font-weight: 550;
    color: black;
    width: 203px;
    height: 32px;
}
.t1-s-main {
  display: none;
}

.options {
  max-width: 1104px;
  max-height: 444px;
  margin: auto;
}
.s-screen-btns {
  display: none;
  gap: 8px;
  position: absolute;
  top: 110px;
  right: 25px;
}

.s-screen-login-btn {
  font-size: 16px;
  font-weight: bold;
  font-family: TTNorms-medium;
  background-color: white;
  color: black;
  border: none;
  width: 66px;
  height: 40px;
  border-radius: 9999px;
}

.s-screen-openapp-btn {
  font-size: 16px;
  font-weight: bold;
  background-color: #eb1700;
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 9999px;
}
.tbv-btn{
  display: none;
  width: 100%;
  justify-content: center;
  position: relative;
}
.tablet-view-btn{
  padding: 0px 0 0 18px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 550;
  font-family: TTNorms-bold;
  color: black;
  display: none;
  border: none;
  width: 88px;
  height: 32px;
  background-color: white;
}
.tbv-btn svg{
  position: absolute;
  left: 160px;
  top: 8px;
}

/*small screen browse app css*/


.small-screen-browse-app{
  width: 360px;
  height: 161px;
  margin: 20px auto;
  background-color: #F7F7F7;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.small-screen-browse-app div:nth-child(1){
  display: flex;
  gap: 10px;
  width: 318px;
}
.small-screen-browse-app div:nth-child(1) p{
  line-height: 20px;
  letter-spacing: -0.01px;
}
.small-screen-browse-app div:nth-child(1) p:nth-child(1){
  font-family: TTNorms-bold;
  font-size: 18px;
  margin-bottom: 2px;
}
.small-screen-browse-app div:nth-child(1) p:nth-child(2){
  margin-bottom: 5px;
  font-size: 14px;
  margin-left: 4px;
  color: #606060ff;
}
.small-screen-browse-app div:nth-child(1) p:nth-child(3){
  font-family: TTNorms-medium;
}
.small-screen-browse-app div:nth-child(1) div:nth-child(1){
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
}
.c-in-app{
  width: 293px;
  height: 40px;
  background-color: #EB1700;
  color: white;
  font-family: TTNorms-bold;
  border-radius: 9999px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-screen-browse-app div:nth-child(1) div:nth-child(1) svg{
  width: 32px;
  height: 18px;
}
.small-screen-browse-app div:nth-child(1) div:nth-child(2) div p{
  margin-top: -5px;
}


/*tablet view*/


@media screen and (max-width: 768px) {
  .homepage-content h1 {
    font-size: 22px;
    max-width: 350px;
    height: 56px;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: -5px;
  }
  .t1 {
    display: none;
  }
  .middle-header-section svg:nth-child(1){
    width: 32px;
    height: 18px;
  }
  .middle-header-section svg:nth-child(2){
    width: 112px;
    height: 13px;
  }
  .tablet-view-btn{
    display: block;
  }
  .tbv-btn{
    display: flex;
  }
  .middle-header-section div{
    gap: 11px;
    padding-bottom: 5px;
  }
  .homepage-content {
    margin-top: 74px;
  }
  .address-input{
    margin: 26px 0 14px 0px;
    
  }
  .input-address-box .location-icon {
    top: 43px;
  }
  .ar-btn {
    top: 34px;
  }
}

@media screen and (max-width: 500px) {
  .homepage-section {
    background-position: 53% 50%;
    height: 647px;
}
  .doordash-logo-hidden {
    display: flex;
  }
  .middle-header-section {
    display: none;
  }
  .header {
    max-width: 765px;
    height: 95px;
    background-color: white;
    position: absolute;
  }
  .homepage-content {
    margin-top: 96px;
  }
  .homepage-content h1 {
    color: white;
    font-size: 32px;
    font-weight: 900;
    max-width: 350px;
    line-height: 28px;
    margin-top: 21px;
    position: relative;
    top: -4px;
  }
  .input-address-box .location-icon {
    display: none;
  }
  .input-address-box .search-icon {
    left: 16px;
    top: 34px;
    display: block;
  }
  .ar-btn {
        left: 241px;
        top: 26px;
        padding: 8px;
  }

  .t1 svg {
    left: 58px;
  }
  .t1-s {
    display: none;
  }
  .address-input {
    width: 297px;
    height: 52px;
  }
  .signup-btn {
    display: none;
  }
  .doordash-logo {
    display: flex;
    padding-right: 4px;
    padding-top: 10px;
    position: relative;
    top: -3px
  }
  .doordash-logo-hidden {
    display: none;
  }
  .doordash-logo-small-size-display {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 4px 10px 5px;
  }
  .doordash-small-logo {
    width: 52px;
    height: 30px;
  }
  .right-header-section {
    display: none;
  }
  .doordash-logo-small-size-display div:nth-child(1) {
    padding: 12px 8px 12px 4px;
    border: 1px solid #f1f1f1ff;
    border-radius: 10px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .small-size-texts div:nth-child(1) {
    width: 109px;
  }
  .signin-btn {
    margin-left: 95px;
    margin-top: 10px;
    width: 66px;
    height: 32px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.01px;
    padding-bottom: 3px;
    color: #FFFFFF;
  }
  .doordash-logo-small-size-display p:nth-child(2) {
    font-size: 14px;
  }

  .s-screen-btns {
    display: flex;
  }
  .tablet-view-btn{
    display: none;
  }
  .tbv-btn{
    display: none;
  }
  .small-screen-browse-app{
    display: flex;
    margin-bottom: 0;
  }
  .input-address-box {
    bottom: 0;
  }
  .address-input{
    padding: 8px 8px 8px 51px;
  }
  .address-input {
     margin: 20px 0 0 0px;
  }
  .t1-s-main {
    margin-top: 16px;
  }
  
}
  @media screen and (max-width: 400px) {
    .signin-btn {
      margin-left: 36px;
    }
    .homepage-content h1 {
      margin-left: 0;
      line-height: 28px;
      margin-top: 15px;
    }
    .ar-btn {
      left: 241px;
      top: 27px;
      padding: 8px;
    }
    .input-address-box {
      top: 4px;
    }
    .tablet-view-btn{
    display: none;
  }
  .tbv-btn{
    display: none;
  }
  }
.left-header-section {
  padding: 0;
}
.middle-header-section {
  /* display: none; */
}
.doordash-logo-small-size-display p {
  margin: 6px 0;
}
.doordash-logo-small-size-display p:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.doordash-logo-small-size-display p:nth-child(2) {
  font-size: 16px;
  color: #606060ff;
}
.doordash-logo-small-size-display p:nth-child(3) {
  font-size: 14px;
  color: #606060ff;
}
.ratings-star {
  display: flex;
  gap: 2px;
  margin-left: 2px;
}
.ratings-star p {
  margin-top: -2px;
  font-size: 14px;
  color: #606060;
  margin-left: 3px;
  font-weight: 500;
  font-family: TTNorms-medium;
}
.small-size-texts {
  margin-left: 8px;
  margin-top: 8px;
}
.small-size-texts p:nth-child(2) {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  font-family: TTNorms-regular;
  letter-spacing: 0.10px;
  color: #606060ff;
}
.small-size-texts p:nth-child(1) {
  margin-bottom: 4px;
  font-weight: 700;
  font-family: TTNorms-medium;
  letter-spacing: 0.15px;
}

.t1-s {
  display: flex;
  justify-content: center;
  position: relative;
  width: 81px;
  height: 31px;
}
.t1-s svg {
  position: absolute;
  top: 8px;
  left: 12px;
}
.t1-s p {
  padding: 7px 32px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 550;
  font-family: TTNorms-bold;
  color: black;
}
.t1-s-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
.t2-s {
  display: none;
  justify-content: center;
  position: relative;
  width: 180px;
  height: 31px;
}
.t2-s svg {
  position: absolute;
  top: 8px;
  left: 12px;
}
.t2-s p {
  padding: 7px 0 10px 20px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 550;
  font-family: TTNorms-bold;
  color: black;
}

/*services css*/

.services {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1104px;
  margin: 124px auto;
  gap: 110px;
  padding-right: 65px;
}
.sub-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.sub-options img {
  width: 154px;
  height: 154px;
}
.sub-options h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01px;
  margin-bottom: 8px;
  margin-right: 15px;
  font-family: TTNorms-medium;
}
.sub-options h4 {
  color: #191919ff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01px;
  margin-bottom: 6px;
  font-family: TTNorms-medium;
}
.sub-options div:nth-child(2) {
  width: 250px;
  height: 230px;
}
.sub-options-link a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #eb1700ff;
  letter-spacing: -0.01px;
  font-family: TTNorms-medium;
}
.t1-s {
    display: none;
  }
  @media screen and (max-width: 1024px){
    .options {
    flex-direction: column;
    gap: 0;
    width: 100%;
    padding: 0;
    max-width: none;
    max-height: none;
    margin: 38px auto 80px auto;
  }
  .services {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .sub-options img {
    width: 124px;
    height: 124px;
    margin-bottom: 65px;
  }

  .sub-options {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 228px;
    text-align: left;
  }
  .sub-options div:nth-child(2) {
    width: 250px;
    height: auto;
    padding-left: 25px;
  }
  .sub-options-link a {
    font-size: 14px;
  }
  .sub-options div:nth-child(1) {
    margin-right: 64px;
  }
  .sub-options div:nth-child(2) {
        padding-left: 0;
  }
  }

@media screen and (max-width: 768px) {
  /* .options {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0;
    max-width: none;
    max-height: none;
  }
  .section2 {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .sub-options img {
    width: 124px;
    height: 124px;
    margin-bottom: 75px;
  }

  .sub-options {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 238px;
    text-align: left;
  }
  .sub-options div:nth-child(2) {
    width: 250px;
    height: auto;
    padding-left: 25px;
  }
  .sub-options-link a {
    font-size: 14px;
  }
  .sub-options div:nth-child(1) {
    margin-right: 64px;
  }
  .sub-options div:nth-child(2) {
        padding-left: 0;
  } */
}



@media screen and (max-width: 500px) {
  .t1 {
    display: none;
  }
  .t2-s {
    display: flex;
  }
  .t1-s {
    display: flex;
  }
  .options {
    flex-direction: column;
    gap: 0;
    width: 100%;
    padding: 0;
    max-width: none;
    max-height: none;
  }
  .services {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .sub-options img {
    width: 88px;
    height: 88px;
    margin-bottom: 120px;
  }

  .sub-options {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 230px;
    text-align: left;
    margin-right: 33px;
  }
  .sub-options div:nth-child(2) {
    width: 250px;
    height: auto;
    padding-bottom: 22px;
  }
  .sub-options-link a {
    font-size: 14px;
  }
      .sub-options div:nth-child(1) {
        margin:0 32px;
      }
      .options{
        margin-top: 50px;
      }
      .sub-options h4 {
        width: 250px;
        margin-bottom: 10px;
      }
      .sub-options h1{
        margin-bottom: 0;
      }
}

/*restaurants css*/

.restaurants-content {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
}
.restaurants-text-contents {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-right: 62px;
}
.restaurants-text-contents h1 {
  font-family: TTNorms-medium;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 27px;
}
.restaurants-text-contents h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: -0.01px;
}
.restaurants-text-contents p {
  font-size: 16px;
  margin-top: 10px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 22px;
}
.restaurants-content img {
  width: 695px;
}
.restaurants-text-contents button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}

/*dashpass css*/


.dashpass {
  background-color: #fef1ee;
  margin-top: -50px;
}
.dashpass-content {
  display: flex;
  max-width: 1160px;
  margin: 35px auto;
  padding: 50px 0 5px 0;
}
.dashpass-text-contents {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-left: 50px;
}

.dashpass-text-contents h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01px;
  width: 360px;
}
.dashpass-text-contents p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 22px;
}
.dashpass-content img {
  width: 724px;
}
.dashpass-text-contents button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}

@media screen and (max-width: 1200px){
  .restaurants-content{
    margin:0 20px;
  }
  .dashpass-content{
    margin: 20px 20px;
  }
}

@media screen and (max-width:1024px){
  .restaurants-content img {
    width:524px;
    height: 500px;
    object-fit: cover;
  }

  .dashpass-content img {
    width:524px;
    height: 500px;
    object-fit: cover;
  }
  .restaurants-text-contents {
    margin-right: 53px
  }
  .dashpass-text-contents h1{
    width: 360px;
  }
  .dashpass-text-contents{
    margin-left: 60px;
  }
  .dashpass-text-contents button{
    margin-top: 30px;
  }
}


@media screen and (max-width: 768px) {
  .restaurants-content img {
    width: 293px;
    height: 500px;
    object-fit: cover;
  }
  .restaurants-text-contents {
    width: 323px;
    margin-right: 112px;
    margin-bottom: 20px;
  }
  .restaurants-text-contents p {
    width: 323px;
  }
  .dashpass-content img {
    width: 303px;
    height: 500px;
    object-fit: cover;
  }
  .dashpass-text-contents {
    padding-left: 0;
    width: 323px;
  }
  .dashpass-text-contents p {
    width: 323px;
  }
}

@media screen and (max-width: 750px){

  .restaurants-content {
    flex-direction: column-reverse;
    width: 93%;
    margin: 0 auto;
  }
  .restaurants-text-contents {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }
  .restaurants-content img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    
  }
  .restaurants-text-contents h1 {
    font-size: 24px;
    margin-top: 20px;
  }
  .restaurants-text-contents h4 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
  }
  .restaurants-text-contents p {
    font-size: 14px;
    margin-top: 10px;
    width: auto;
  }
  .restaurants-text-contents button {
    font-size: 14px;
    height: 32px;
    width: 130px;
    font-weight: 700;
    margin-top: 20px;
    font-family: TTNorms-medium;
  }

  .dashpass-content {
    flex-direction: column;
    padding: 320px 0 5px 0;
    width: 93%;
    margin: 0 auto;
  }
  .dashpass-text-contents {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  .dashpass-content img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    margin-left: 0;
  }
  .dashpass-text-contents h1 {
    font-size: 24px;
    margin-top: 20px;
  }
  .dashpass-text-contents p {
    font-size: 14px;
    margin-top: 10px;
    width: auto;

  }
  .dashpass {
    margin-top: -290px;
    padding-bottom: 20px;
  }
  .dashpass-text-contents button {
    font-size: 14px;
    height: 32px;
    width: 130px;
    margin-top: 20px;
  }

}


@media screen and (max-width: 500px) {
  .restaurants-text-contents h1{
    line-height: 28px;
    width: 347px;
  }
    .restaurants-text-contents p{
      width: 385px;
    }
    .dashpass-text-contents p{
      width: 380px;
    }
}

@media screen and (max-width: 400px){
  
  .restaurants-text-contents p{
    width:335px ;
  }
  .dashpass-text-contents p{
    width: 341px;
  }
}

/*groceries css*/

.groceries {
  height: 600px;
  width: 100%;
  background: url(images/grocery_desktop.avif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  margin-bottom: 60px;
}
.groceries-blur {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.497);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.groceries-blur h2 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #FFFFFF;
  width: 495px;
  height: 120px;
  text-align: center;
  font-family: TTNorms-medium;
  overflow-y: hidden;
}
.groceries-blur h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 1px;
  color: white;
  height: 24px;
  text-align: center;
  font-family: TTNorms-medium;
}
.groceries-blur p {
  font-size: 16px;
  margin-top: 10px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 22px;
  color: white;
  width: 550px;
  height: 44px;
  text-align: center;
  font-family: TTNorms-medium;
}
.groceries-blur button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  font-family: TTNorms-medium;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}

@media screen and (max-width: 500px) {
  .groceries {
    height: 350px;
    width: 100%;
    margin-top: 30px;
  }
  .groceries-blur h2 {
    font-size: 24px;
    height: 56px;
    line-height: 28px;
    width: 370px;
    font-family: TTNorms-medium;

  }
  .groceries-blur h4 {
    font-size: 18px;
    margin-top: 10px;
    font-family: TTNorms-medium;
  }
  .groceries-blur p {
    font-size: 14px;
    margin-top: 10px;
  }
  .groceries-blur button {
    height: 32px;
    width: 123px;
    font-size: 14px;
  }
  .groceries {
    margin-bottom: 0;
    margin-top: 0;
  }
  .groceries-blur{
    padding-top: 23px;
  }
  .groceries-blur p {
    width: 400px;
    
  }
  
}
@media screen and (max-width: 400px) {
  .groceries-blur h2 {
    width: 337px;
  }
  .groceries-blur h4 {
    width: 344px;
  }
  .groceries-blur p {
    width: 375px;
    text-align: center;
  }
}

/*shop css*/



.shop {
  margin-bottom: 50px;
}
.shop-content {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
}
.shop-text-contents {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-right: 60px;
}
.shop-text-contents h1 {
  font-size: 40px;
  line-height: 43px;
  letter-spacing: -0.01px;
  width: 350px;
  font-family: TTNorms-medium;
}
.shop-text-contents p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: -0.01px;
  font-weight: 500;
  font-family: TTNorms-medium;
  line-height: 22px;
}
.shop-content img {
  width: 695px;
}
.shop-text-contents button {
  height: 40px;
  width: 100px;
  border: none;
  color: white;
  font-family: TTNorms-medium;
  background-color: #eb1700ff;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}

@media screen and (max-width: 1200px){
  .shop-content{
    margin:0 20px;
  }
}

@media screen and (max-width:1024px){
  .shop-text-contents {
    margin-right: 30px;
  }
  .shop-content img {
    width:546px;
    height: 500px;
    object-fit: cover;
  }
}


@media screen and (max-width: 768px) {
  .shop-content img {
    width: 345px;
    height: 500px;
    object-fit: cover;
  
  }
  .shop-text-contents {
    width: 323px;
    margin-right: 60px;
  }
  .shop-text-contents p {
    width: 323px;
  }
}


@media screen and (max-width:750px){
  .shop-content {
    flex-direction: column-reverse;
    width: 93%;
    margin: 0 auto;
  }
  .shop-text-contents {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }
  .shop-content img {
    height: 180px;
    width: 100%;
    object-fit: cover;
  }
  .shop-text-contents h1 {
    font-size: 24px;
    width: auto;
    line-height: 28px;
    margin-top: 10px;
  }
  .shop-text-contents p {
    font-size: 14px;
    margin-top: 10px;
    width: 375px;
  }
  .shop-text-contents button {
    font-size: 14px;
    height: 32px;
    width: 90px;
    margin-top: 20px;
  }
  .shop {
    margin-top: 20px;
    padding-bottom: 50px;
  }
  
}
@media screen and (max-width: 400px) {
  .shop-text-contents h1{
    width: 294px;
  }
  .shop-text-contents p{
    width: 335px;
  }
}


/*card-section css*/


.card-section {
  background-color: #fef1ee;
  width: 100%;
  padding: 80px 0 20px 0;
  margin-top: -80px;
  margin-bottom: 60px;
}
.card-section-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 60px;
  column-gap: 20px;
  row-gap: 40px;
  padding-left: 20px;
}
.card-section-main-heading {
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-section-box {
  max-width: 552px;
}
.card-section-box:nth-child(1) button{
  width: 117px;
  padding-bottom: 2px;
}
.card-section-box:nth-child(2) button{
  width: 124px;
  padding-bottom: 1px;
}
.card-section-box:nth-child(2) h1{
  height: 45px;
}
.card-section-box:nth-child(3) button{
  width: 123px;
} 
.card-section-box:nth-child(4) button{
  width: 149px;
}

.card-section-box img {
  width: 100%;
  max-height: 552px;
  object-fit: cover;
}
.card-section-main-heading h1 {
  font-size: 32px;
  width: 500px;
  height: 80px;
  color: #191919ff;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  font-family: TTNorms-medium;
}
.card-section-sections h1 {
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  color: #191919;
  font-weight: 700;
  font-family: TTNorms-medium;
  letter-spacing: 0.03px;
  margin-top: 20px;
}
.card-section-sections p {
  font-size: 16px;
  text-align: center;
  color: #191919;
  letter-spacing: -0.01px;
  line-height: 20px;
  margin-top: 20px;
  font-family: TTNorms-medium;
}

.card-section-sections button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}
.card-section-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-section-box:nth-child(3) .card-section-text-section p{
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1200px){
  .card-section-sections{
    padding: 40px 0;
  }
}


@media screen and (max-width:1024px){
  .card-section-sections {
  max-width: 980px;
  gap: 40px;
  padding-left: 0;
}
.card-section-text-section{
  height: 234px;
}
 .card-section-box img {
    width: 100%;
}
.card-section{
  padding: 80px 0 0 0;
  
}
.card-section-box:nth-child(3) .card-section-text-section button{
  margin-top: 25px;
}
.card-section-box:nth-child(3) .card-section-text-section p{
  margin-top: 18px;
}
.card-section-box:nth-child(2) .card-section-text-section{
  height: 230px;
}
.card-section-box:nth-child(2) .card-section-text-section h1{
  width: 424px;
  height: 80px;
}
.card-section-box:nth-child(2) .card-section-text-section p{
  width: 422px;
}
}


@media screen and (max-width:768px){
  .card-section-box {
    width: 344px;
    height: 658px;
  }
  .card-section-box div:nth-child(1) {
    height: 344px;
  }
  .card-section-box img {
    object-fit: cover;
    height: 100%
}
.card-section-text-section{
  height: 274px;
}
.card-section-box:nth-child(3) .card-section-text-section {
  height: 296px;
}
.card-section-box:nth-child(1) h1{
  width: 309px;
}
.card-section-sections{
  gap: 25px;
  margin-bottom: 0;
}
.card-section-sections{
  row-gap: 0;
}
.card-section-box:nth-child(3) .card-section-text-section {
        height: 293px;
}
}

@media screen and (max-width: 750px) {
  .card-section-sections {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    padding-left: 0;
    gap: 10px;
  }
  .card-section {
    padding: 40px 0 20px 0;
    margin-top: -30px;
  }
  .card-section-sections .card-section-box {
    max-width: 635px;
    width: 100%;
    margin-right: 10px;
    padding-bottom: 0;
    height: 362px;
    flex: 0 0 auto;
  }
  .card-section-sections .card-section-box:nth-child(1) {
    margin-left: 40px
  }
  .card-section-sections .card-section-box:nth-last-child(1) {
    margin-right: 40px;
  }
  .card-section-box div:nth-child(1){
    height: 180px;
  }
  .card-section-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-section-sections h1 {
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    margin-top: 20px;
  }
  .card-section-box:nth-child(1) h1{
  width: 100%;
}
  .card-section-sections p {
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
  }
  .card-section-box .text-section3 p:nth-last-child(1){
    font-size: 12px;
  }
  .card-section-sections button {
    height: 32px;
    width: 120px;
    font-size: 14px;
    margin-top: 20px;
  }
  .card-section-main-heading {
    width: 100%;
  }
  .card-section-main-heading h1 {
    font-size: 24px;
    line-height: 28px;
    width: 300px;
  }
  .card-section-sections {
     margin-top: 20px;
    }
    .card-section-text-section{
      height: 130px;
    }
    .card-section-box:nth-child(3) .card-section-text-section {
      height: 190px;
}   
     .card-section-box:nth-child(3) .card-section-text-section button{
      margin-top: 20px;
}
 .card-section-box:nth-child(3) .card-section-text-section h1{
      margin-top: 20px;
}
 .card-section-box:nth-child(3) .card-section-text-section p{
      margin-top: 10px;
}
 .card-section-box:nth-child(4) .card-section-text-section {
      height: 150px;
}   
.card-section-box:nth-child(2) .card-section-text-section h1{
  height: 28px;
}
.card-section-box:nth-child(2) .card-section-text-section {
  width: 100%;
  height: 150px;
}
.card-section-box:nth-child(2) .card-section-text-section p{
  width: 100%;
  height: 40px;
}


}

@media screen and (max-width: 500px) {
  .card-section-text-section{
      height: 178px;
    }

  .card-section-box:nth-child(1) h1{
    width: 365px;
}
.card-section-sections .card-section-box:nth-child(3){
  height: 382px;
}
}

@media screen and (max-width: 426px){
  .card-section-sections .card-section-box{
    width: 343px;
  }
  .card-section-box:nth-child(4) .card-section-text-section {
      height: 161px;
}  
}


/* @media screen and (max-width: 400px) {
  .card-section-box img {
    width: 296px;
  }
  .card-section-sections .card-section-box {
    width: 297px;
  }
  .card-section-sections h1 {
    width: 267px;
  }
  .card-section-sections p {
    width: 297px;
  }
} */


/*dasher css*/


.dasher-main-heading {
  width: 100%;
  height: 80px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
.dasher-main-heading h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01px;
  color: black;
  text-align: center;
  width: 500px;
  height: 100%;
}
.dasher-text-contents h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: -0.01px;
}
.dasher-content {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
}
.dasher-text-contents {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-right: 60px;
}
.dasher-text-contents h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01px;
  font-family: TTNorms-medium;
  width: 350px;
  height: 84px;
}
.dasher-text-contents p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 22px;
}
.dasher-content img {
  width: 695px;
}
.dasher-text-contents button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}

@media screen and (max-width: 1200px){
  .dasher-content{
    margin:0 20px;
  }
}


@media screen and (max-width:1024px){
  .dasher-text-contents {
    margin-right: 50px;
  }
  .dasher-content img {
    width:524px;
    height: 500px;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .dasher-content img {
    width: 285px;
    height: 500px;
    object-fit: cover;
  }
  .dasher-text-contents {
    width: 382px;
    margin-right: 80px;
    margin-left: 0;
  }
}

@media screen and (max-width:750px){
  .dasher-main-heading {
    margin-bottom: 25px;
  }
  .dasher-main-heading h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    width: 300px;
  }
  .dasher-content {
    flex-direction: column-reverse;
    width: 93%;
    margin: 0 auto;
  }
  .dasher-text-contents {
    width: 100%;
    margin-right: 0;
  }
  .dasher-content img {
    height: 180px;
    width: 100%;
    object-fit: cover;
  }
  .dasher-text-contents h1 {
    font-size: 24px;
    height: auto;
    margin-top: 20px;
    line-height: 28px;
  
  }
  .dasher-text-contents p {
    font-size: 14px;
    margin-top: 10px;
  }
  .dasher-text-contents button {
    font-size: 14px;
    height: 32px;
    width: 130px;
    margin-top: 20px;
  }
  .dasher-text-contents{
    padding-left: 0;
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .dasher-text-contents h1{
    width: 300px;
    
  }
  .dasher-text-contents {
    width: 385px;
  }
}
@media screen and (max-width: 400px) {
  .dasher-text-contents p {
    width: 335px;
  }
}

/*partner csss*/

.partner {
  background-color: #fef1ee;
  margin-top: -50px;
  margin-bottom: 40px;
  padding-bottom: 15px;
}
.partner-content {
  display: flex;
  max-width: 1160px;
  margin: 35px auto;
  padding: 50px 0 5px 0;
}
.partner-text-contents {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-left: 60px;
}

.partner-text-contents h1 {
  font-size: 40px;
  line-height: 40px;
  width: 340px;
  letter-spacing: -0.01px;
  font-family: TTNorms-medium;
}
.partner-text-contents p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 22px;
  font-family: TTNorms-medium;
}
.partner-content img {
  width: 724px;
  height: 500px;
}
.partner-text-contents button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}
@media screen and (max-width: 1200px){
  .partner-content{
    margin:0 20px;
    padding: 80px 0 5px 0;
  }
}

@media screen and (max-width:1024px){
  .partner-text-contents {
    margin-left: 44px;
    margin-right: 50px;
  }
  .partner-content img {
    width:524px;
    height: 500px;
    object-fit: cover;
  }
  .partner{
    padding-bottom: 0;
  }
}


@media screen and (max-width: 768px) {
  .partner-content img {
    width: 307px;
    height: 500px;
    object-fit: cover;
  }
  .partner-content{
    padding-bottom:20px ;
  }
  .partner-text-contents {
    width: 360px;
  }
  
}

@media screen and (max-width:750px){
    .partner-content {
    flex-direction: column;
    padding: 320px 0 5px 0;
    width: 93%;
    margin: 0 auto;
  }
  .partner-text-contents {
    width: 100%;
    margin-left: 0;
    padding-bottom: 20px;
  }
  .partner-content img {
    height: 180px;
    width: 100%;
    object-fit: cover;
  }
  .partner-text-contents h1 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
  }
  .partner-text-contents p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
  }
  .partner {
    margin-top: -290px;
  }
  .partner-text-contents button {
    font-size: 14px;
    height: 32px;
    width: 139px;
    margin-top: 20px;
  }
  .partner-image {
      margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .partner-text-contents p {
    width: 385px;
  }
}

@media screen and (max-width: 400px) {
  .partner-text-contents p {
    width: 335px;
  }
}

/*more option css*/

.more-options {
  max-width: 1130px;
  min-height: 368px;
  margin: 0 auto;
  overflow-y: hidden;
}
.more-option-main-heading {
  display: flex;
  width: 100%;
  justify-content: center;
}
.more-option-main-heading h1 {
  font-size: 32px;
  color:#191919;
  line-height: 40px;
  letter-spacing: -0.01px;
  text-align: center;
  margin-bottom: 20px;
}
.more-option-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.more-option-first-section-heading {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  border-bottom: 2px solid #f1f1f1ff;
}

.more-option-first-section-heading:nth-child(1){
  border-bottom: 3px solid #191919ff;
}
.more-option-first-section-heading:nth-child(1):hover{
  background-color: #f7f7f7ff;
}
.more-option-first-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
.more-option-first-section h2{
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01px;
  color: #606060;
}
.more-option-first-section-heading:nth-child(1) h2{
  color: #191919;
}
.more-option-second-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.more-option-grid-section {
     display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}
.more-option-second-section a{
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: TTNorms-medium;
  line-height: 22px;
  letter-spacing: -0.01px;
  color: #191919;
}
.see-more-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 60px;
  gap: 10px;
}
.see-more-header h1 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.01px;
  line-height: 22px;
  height: 25px;
}
.see-more-header div {
  background-color: #f7f7f7ff;
  height: 40px;
  width: 40px;
  border-radius: 9999px;
  padding-top: 12px;
  padding-left: 7px;
}
.see-more-header div i {
  width: 24px;
  height: 24px;
}

/*footer css*/

 .footer {
  background: #191919ff;
  width: 100%;
  min-height:745px;
  max-height: auto;
}

.footer-main-section {
  max-width: 1120px;
  margin: 0 auto;
}
.footer-main-section h2 {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01px;
  width: 100%;
  margin: 30px 0 5px 0;
}
.footer-sections h2 {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01px;
  width: 100%;
  margin: 30px 0 5px 0;
  padding: 0;
}
.footer-section-sections li {
  color: rgb(196, 196, 196);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  margin: 8px 0;
}
.footer-section-sections li:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
.footer-sections{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.first-footer-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 12px;
}
.first-footer-section .footer-section-sections{
  width: 271px;
  max-width: 271px;
}
.second-footer-section .footer-section-sections{
  width: 271px;
  max-width: 271px;
}
.second-footer-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.second-footer-first-section {
  display: flex;
  width: 100%;
}
.second-footer-second-section{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.middle-footer-section {
  display: none;
  justify-content: center;
  width: 100%;
}

.download-options-one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 60px 0 0 0;
}
.download-options-two {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  gap: 10px;
  padding-top: 32px;
}

.download-options-one div, .download-options-two div {
  background-color: rgb(73, 73, 73);
  width: 160px;
  border-radius: 10px;
  padding: 2px 8px;
}
.download-options div svg {
  transition: fill 0.2s ease;
}
.download-options div svg:hover {
  fill: white;
}




@media screen and (max-width: 960px) {
  .middle-footer-section {
    display: flex;
  }
  .second-footer-second-section{
    display: none;
  }
  .second-footer-section .footer-section-sections{
      width: auto;
      max-width: auto;
}
  .second-footer-first-section{
    justify-content: space-between;
  }
  .footer-sections {
    gap: 0;
  }
}

@media screen and (max-width:768px) {
  .footer-main-section h2{
    text-align: center;
  }
  .first-footer-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .second-footer-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .second-footer-first-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/*sub-footer css*/

.sub-footer {
  min-height: 96px;
  width: 100%;
  background: #191919ff;
}
.sub-footer-main {
  max-width: 1120px;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-footer-first-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.sub-footer-first-section div{
  margin-left: 12px;
}
.sub-footer-first-section div:nth-child(1){
  margin-top: 10px;
  margin-left: 0;
}
.sub-footer-first-section div:nth-child(6){
  margin-top: 7px;
}
.sub-footer-first-section a {
  text-decoration: none;
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-family: TTNorms-medium;
}
.sub-footer-first-section p {
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-family: TTNorms-medium;
}
.sub-footer-second-section {
  display: flex;
  flex-wrap: wrap;
  margin-right: 65px;
  color: black;
  position: relative;
  width: 150px;
  height: 32px;
  font-family: TTNorms-medium;
  border-radius: 9999px;
  background-color: #f1f1f1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding: 6px 0px 0px 45px;
}
.sub-footer-second-section svg {
  position: absolute;
  left: 12px;
  top: 5px;
}
.sub-footer-second-section i {
  position: absolute;
  right: 15px;
  top: 7px;
  font-size: 17px;
}
.sub-footer-third-section {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  
}
.sub-footer-third-section svg path {
  fill:  rgb(196, 196, 196);
}
@media screen and (max-width: 750px){
  .sub-footer-main {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .sub-footer-second-section{
    margin-right: 0;
    margin-top: 5px;
  }
  .sub-footer-third-section{
    padding-right: 0;
  }
  .sub-footer-first-section {
    margin-top: 10px;
  }
}
