@font-face {
    font-family: TTNorms-regular;
    src: url(font/TTNorms-Regular.woff2);
}
@font-face {
    font-family: TTNorms-medium;
    src: url(font/TTNorms-Medium.woff2);
}
@font-face {
    font-family: TTNorms-bold;
    src: url(font/TTNorms-Bold.woff2);
}
@font-face {
    font-family: TTNorms-extrabold;
    src: url(font/TTNorms-ExtraBold.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* font-family:var(--extrabold); */
  font-family: TTNormsProCond-Blk, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
h1,
h4,
p,
button,
div {
  overflow-y: hidden;
}
p{
  font-family: TTNorms-medium;
}
button{
  font-family: TTNorms-medium;
}

/*section one css*/

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 72px;
  background-color: transparent;
  display: flex;
  flex: 1;
  z-index: 1000;

}

.header-sections {
  height: 100%;
  width: 100%;
}

.right-header-section {
  height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
    padding: 13px 23px 13px 0;
}
.signin-btn {
  font-size: 18px;
  font-weight: bold;
  font-family: TTNorms-medium;
  background-color: #eb1700;
  color: white;
  border: none;
  width: 81px;
  height: 40px;
  border-radius: 9999px;
}
.signup-btn {
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  color: #606060;
  border: none;
  width: 90px;
  height: 40px;
  border-radius: 9999px;
}
.middle-header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  height: 100%;
}
.middle-header-section div {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.middle-header-section span {
  margin-top: 3px;
  position: relative;
    left: 3px;
    top: 0.80px;
}
.left-header-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  height: 100%;
}
.doordash-logo-hidden {
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.left-header-section span {
  margin-right: 8px;
  margin-top: 4px;
  margin-left: 9px;
}
.doordash-logo-small-size-display {
  display: none;
}

/*section 1 css*/
.section1 {
  background: url(images/hero_desktop.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.doordash-logo {
  display: none;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.doordash-logo svg:nth-child(1) {
  margin-left: 4px;
  margin-top: 11px;
  margin-right: 3px;
}
.doordash-logo svg:nth-child(2) {
  margin-left: 5px;
  margin-top: 11px;
}
.section1-content {
  margin-top: 69px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section1-content h1 {
  color: white;
  font-weight: 900;
  max-width: 781px;
  text-transform: uppercase;
  font-size: 40px;
  
}
.address-input {
  padding: 9px 8px 8px 56px;
  width: 408px;
  height: 56px;
  border: none;
  border-radius: 9999px;
  background-color: white;
  color: rgb(168, 164, 164);
  font-size: 16px;
  font-family: TTNorms-medium;
  color: rgb(25, 25, 25);
  line-height: 22px;
  font-weight: 550;
  letter-spacing: 0.01px;
  margin: 20px 0 17px 0px;
}
.address-input:focus{
  border: 2px solid rgb(0, 85, 255);
  outline: none;
}

.input-address-box {
  position: relative;
  bottom: 3px;
}
.input-address-box .location-icon {
  position: absolute;
  left: 20px;
  top: 36px;
}
.input-address-box .search-icon {
  position: absolute;
  left: 196px;
  top: 34px;
  display: none;
}
.ar-btn {
    position: absolute;
    left: 360px;
    top: 28px;
    width: 40px;
    background-color: rgb(233, 9, 9);
    border-radius: 50px;
    border: none;
    color: white;
    height: 40px;
}
.auto-sign-in-option {
  width: 203px;
  height: 32px;
  background-color: white;
}
.section1-content p {
  background-color: white;
  width: 203px;
  text-align: center;
}
.t1 {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 100px;
  padding-right: 101px;
  top: -4px;
}
.t1 svg {
  position: absolute;
  top: 8px;
  left: 14px;
}
.t1 p {
    padding: 8px 5px 0px 25px;
    border-radius: 9999px;
    font-size: 14px;
    font-family: TTNorms-bold;
    font-weight: 550;
    color: black;
    width: 203px;
    height: 32px;
}
.t1-s-main {
  display: none;
}

.options {
  max-width: 1104px;
  max-height: 444px;
  margin: auto;
}
.s-screen-btns {
  display: none;
  gap: 8px;
  position: absolute;
  top: 110px;
  right: 25px;
}

.s-screen-login-btn {
  font-size: 16px;
  font-weight: bold;
  font-family: TTNorms-medium;
  background-color: white;
  color: black;
  border: none;
  width: 66px;
  height: 40px;
  border-radius: 9999px;
}

.s-screen-openapp-btn {
  font-size: 16px;
  font-weight: bold;
  background-color: #eb1700;
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 9999px;
}
.tbv-btn{
  display: none;
  width: 100%;
  justify-content: center;
  position: relative;
}
.tablet-view-btn{
  padding: 0px 0 0 18px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 550;
  font-family: TTNorms-bold;
  color: black;
  display: none;
  border: none;
  width: 88px;
  height: 32px;
  background-color: white;
}
.tbv-btn svg{
  position: absolute;
  left: 160px;
  top: 8px;
}

/*small screen browse app css*/


.small-screen-browse-app{
  width: 360px;
  height: 161px;
  margin: 20px auto;
  background-color: #F7F7F7;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.small-screen-browse-app div:nth-child(1){
  display: flex;
  gap: 10px;
  width: 318px;
}
.small-screen-browse-app div:nth-child(1) p{
  line-height: 20px;
  letter-spacing: -0.01px;
}
.small-screen-browse-app div:nth-child(1) p:nth-child(1){
  font-family: TTNorms-bold;
  font-size: 18px;
  margin-bottom: 2px;
}
.small-screen-browse-app div:nth-child(1) p:nth-child(2){
  margin-bottom: 5px;
  font-size: 14px;
  margin-left: 4px;
  color: #606060ff;
}
.small-screen-browse-app div:nth-child(1) p:nth-child(3){
  font-family: TTNorms-medium;
}
.small-screen-browse-app div:nth-child(1) div:nth-child(1){
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
}
.c-in-app{
  width: 293px;
  height: 40px;
  background-color: #EB1700;
  color: white;
  font-family: TTNorms-bold;
  border-radius: 9999px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-screen-browse-app div:nth-child(1) div:nth-child(1) svg{
  width: 32px;
  height: 18px;
}
.small-screen-browse-app div:nth-child(1) div:nth-child(2) div p{
  margin-top: -5px;
}


/*tablet view*/
@media screen and (max-width: 768px) {
  .section1-content h1 {
    font-size: 22px;
    max-width: 350px;
    height: 56px;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: 15px;
  }
  .t1 {
    display: none;
  }
  .middle-header-section svg:nth-child(1){
    width: 32px;
    height: 18px;
  }
  .middle-header-section svg:nth-child(2){
    width: 112px;
    height: 13px;
  }
  .tablet-view-btn{
    display: block;
  }
  .tbv-btn{
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .section1 {
    background-position: 53% 50%;
}
  .doordash-logo-hidden {
    display: flex;
  }
  .middle-header-section {
    display: none;
  }
  .section1 {
    height: 647px;
  }
  .header {
    max-width: 765px;
    height: 95px;
    background-color: white;
    position: absolute;
  }
  .section1-content {
    margin-top: 96px;
  }
  .section1-content h1 {
    color: white;
    font-size: 32px;
    font-weight: 900;
    max-width: 350px;
    line-height: 28px;
    margin-top: 20px;
    position: relative;
    top: -3px;
  }
  .input-address-box .location-icon {
    display: none;
  }
  .input-address-box .search-icon {
    left: 16px;
    top: 34px;
    display: block;
  }
  .ar-btn {
        left: 241px;
        top: 26px;
        padding: 8px;
  }

  .t1 svg {
    left: 58px;
  }
  .t1-s {
    display: none;
  }
  .address-input {
    width: 297px;
    height: 52px;
  }
  .signup-btn {
    display: none;
  }
  .doordash-logo {
    display: flex;
    padding-right: 4px;
    padding-top: 10px;
    position: relative;
    top: -3px
  }
  .doordash-logo-hidden {
    display: none;
  }
  .doordash-logo-small-size-display {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 4px 10px 5px;
  }
  .doordash-small-logo {
    width: 52px;
    height: 30px;
  }
  .right-header-section {
    display: none;
  }
  .doordash-logo-small-size-display div:nth-child(1) {
    padding: 12px 8px 12px 4px;
    border: 1px solid #f1f1f1ff;
    border-radius: 10px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .small-size-texts div:nth-child(1) {
    width: 109px;
  }
  .signin-btn {
    margin-left: 95px;
    margin-top: 12px;
    width: 66px;
    height: 32px;
    font-size: 16px;
    padding-bottom: 3px;
  }
  .doordash-logo-small-size-display p:nth-child(2) {
    font-size: 14px;
  }

  .s-screen-btns {
    display: flex;
  }
  .tablet-view-btn{
    display: none;
  }
  .tbv-btn{
    display: none;
  }
  .small-screen-browse-app{
    display: flex;
    margin-bottom: 0;
  }
  .input-address-box {
    bottom: 0;
  }
  .address-input{
    padding: 8px 8px 8px 51px;
  }
  
}
  @media screen and (max-width: 400px) {
    .signin-btn {
      margin-left: 36px;
    }
    .section1-content h1 {
      margin-left: 0;
      line-height: 28px;
      margin-top: 15px;
    }
    .ar-btn {
      left: 241px;
      top: 27px;
      padding: 8px;
    }
    .input-address-box {
      top: 4px;
    }
    .tablet-view-btn{
    display: none;
  }
  .tbv-btn{
    display: none;
  }
  }
.left-header-section {
  padding: 0;
}
.middle-header-section {
  /* display: none; */
}
.doordash-logo-small-size-display p {
  margin: 6px 0;
}
.doordash-logo-small-size-display p:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.doordash-logo-small-size-display p:nth-child(2) {
  font-size: 16px;
  color: #606060ff;
}
.doordash-logo-small-size-display p:nth-child(3) {
  font-size: 14px;
  color: #606060ff;
}
.ratings-star {
  display: flex;
  gap: 2px;
  margin-left: 2px;
}
.ratings-star p {
  margin-top: -2px;
  font-size: 14px;
  color: #606060;
  margin-left: 3px;
  font-weight: 500;
  font-family: TTNorms-medium;
}
.small-size-texts {
  margin-left: 8px;
  margin-top: 8px;
}
.small-size-texts p:nth-child(2) {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  font-family: TTNorms-regular;
  letter-spacing: 0.10px;
  color: #606060ff;
}
.small-size-texts p:nth-child(1) {
  margin-bottom: 4px;
  font-weight: 700;
  font-family: TTNorms-medium;
  letter-spacing: 0.15px;
}

.t1-s {
  display: flex;
  justify-content: center;
  position: relative;
  width: 81px;
  height: 31px;
}
.t1-s svg {
  position: absolute;
  top: 8px;
  left: 12px;
}
.t1-s p {
  padding: 7px 32px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 550;
  font-family: TTNorms-bold;
  color: black;
}
.t1-s-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
.t2-s {
  display: none;
  justify-content: center;
  position: relative;
  width: 180px;
  height: 31px;
}
.t2-s svg {
  position: absolute;
  top: 8px;
  left: 12px;
}
.t2-s p {
  padding: 7px 0 10px 20px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 550;
  font-family: TTNorms-bold;
  color: black;
}

/*section2 css*/

.section2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1104px;
  margin: 90px auto;
  gap: 110px;
  padding-right: 55px;
}
.sub-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.sub-options img {
  width: 154px;
  height: 154px;
}
.sub-options h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 2px;
  font-family: TTNorms-medium;
}
.sub-options h4 {
  color: #191919ff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01px;
  margin-bottom: 6px;
}
.sub-options div:nth-child(2) {
  width: 250px;
  height: 230px;
}
.sub-options-link a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #eb1700ff;
  letter-spacing: -0.01px;
}
.t1-s {
    display: none;
  }
  @media screen and (max-width: 1024px){
    .options {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0;
    max-width: none;
    max-height: none;
  }
  .section2 {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .sub-options img {
    width: 124px;
    height: 124px;
    margin-bottom: 75px;
  }

  .sub-options {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 238px;
    text-align: left;
  }
  .sub-options div:nth-child(2) {
    width: 250px;
    height: auto;
    padding-left: 25px;
  }
  .sub-options-link a {
    font-size: 14px;
  }
  .sub-options div:nth-child(1) {
    margin-right: 64px;
  }
  .sub-options div:nth-child(2) {
        padding-left: 0;
  }
  }

@media screen and (max-width: 768px) {
  /* .options {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0;
    max-width: none;
    max-height: none;
  }
  .section2 {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .sub-options img {
    width: 124px;
    height: 124px;
    margin-bottom: 75px;
  }

  .sub-options {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 238px;
    text-align: left;
  }
  .sub-options div:nth-child(2) {
    width: 250px;
    height: auto;
    padding-left: 25px;
  }
  .sub-options-link a {
    font-size: 14px;
  }
  .sub-options div:nth-child(1) {
    margin-right: 64px;
  }
  .sub-options div:nth-child(2) {
        padding-left: 0;
  } */
}



@media screen and (max-width: 500px) {
  .t1 {
    display: none;
  }
  .t2-s {
    display: flex;
  }
  .t1-s {
    display: flex;
  }
  .options {
    flex-direction: column;
    gap: 0;
    width: 100%;
    padding: 0;
    max-width: none;
    max-height: none;
  }
  .section2 {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .sub-options img {
    width: 88px;
    height: 88px;
    margin-bottom: 120px;
  }

  .sub-options {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 230px;
    text-align: left;
    margin-right: 33px;
  }
  .sub-options div:nth-child(2) {
    width: 250px;
    height: auto;
    padding-left: 30px;
    padding-bottom: 24px;
  }
  .sub-options-link a {
    font-size: 14px;
  }
      .sub-options div:nth-child(1) {
        margin-right:0;
      }
      .options{
        margin-top: 50px;
      }
      .sub-options h4 {
        width: 250px;
      }
}

/*section three css*/

.section3-content {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
}
.section3-text-contents {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-right: 50px;
}
.section3-text-contents h1 {
  font-size: 40px;
  line-height: 43px;
  letter-spacing: -0.01px;
}
.section3-text-contents h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: -0.01px;
}
.section3-text-contents p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 22px;
}
.section3-content img {
  width: 695px;
}
.section3-text-contents button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}

/*section 3 part 2*/
.section3p2 {
  background-color: #fef1ee;
  margin-top: -50px;
}
.section3p2-content {
  display: flex;
  max-width: 1160px;
  margin: 35px auto;
  padding: 50px 0 5px 0;
}
.section3p2-text-contents {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-left: 50px;
}

.section3p2-text-contents h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01px;
}
.section3p2-text-contents p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 22px;
}
.section3p2-content img {
  width: 695px;
}
.section3p2-text-contents button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}
@media screen and (max-width:1024px){
  .section3-text-contents {
    margin-left: 25px;
  }
  .section3-content img {
    width:524px;
    height: 500px;
    object-fit: cover;
  }

  .section3p2-content img {
    width:524px;
    height: 500px;
    object-fit: cover;
     margin-left: 25px;
  }
}


@media screen and (max-width: 768px) {
  .section3-content img {
    width: 345px;
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
  }
  .section3-text-contents {
    padding-left: 20px;
    width: 323px;
    margin-right: 60px;
  }
  .section3-text-contents p {
    width: 323px;
  }
  .section3p2-content img {
    width: 345px;
    height: 500px;
    object-fit: cover;
    margin-left: 20px;
  }
  .section3p2-text-contents {
    padding-left: 20px;
    width: 323px;
    margin-right: 75px;
  }
  .section3p2-text-contents p {
    width: 323px;
  }
}

@media screen and (max-width: 500px) {
  .section3-content {
    flex-direction: column-reverse;
    width: 93%;
    margin: 0 auto;
  }
  .section3-text-contents {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }
  .section3-content img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    
  }
  .section3-text-contents h1 {
    font-size: 24px;
  }
  .section3-text-contents h4 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
  }
  .section3-text-contents p {
    font-size: 14px;
    margin-top: 10px;
  }
  .section3-text-contents button {
    font-size: 14px;
    height: 32px;
    width: 130px;
    font-weight: 700;
    font-family: TTNorms-medium;
  }

  .section3p2-content {
    flex-direction: column;
    padding: 320px 0 5px 0;
    width: 93%;
    margin: 0 auto;
  }
  .section3p2-text-contents {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  .section3p2-content img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    margin-left: 0;
  }
  .section3p2-text-contents h1 {
    font-size: 24px;
  }
  .section3p2-text-contents p {
    font-size: 14px;
    margin-top: 10px;

  }
  .section3p2 {
    margin-top: -290px;
  }
  .section3p2-text-contents button {
    font-size: 14px;
    height: 32px;
    width: 130px;
  }
    
}

/*section 4 css*/

.section4 {
  height: 600px;
  width: 100%;
  background: url(images/grocery_desktop.avif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  margin-bottom: 60px;
}
.section4-blur {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.497);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section4-blur h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01px;
  color: white;
  width: 495px;
  height: 120px;
  text-align: center;
}
.section4-blur h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: -0.01px;
  color: white;
  width: 382px;
  height: 24px;
  text-align: center;
}
.section4-blur p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 22px;
  color: white;
  width: 550px;
  height: 44px;
  text-align: center;
}
.section4-blur button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}

@media screen and (max-width: 500px) {
  .section4 {
    height: 350px;
    width: 100%;
    margin-top: 30px;
  }
  .section4-blur h1 {
    font-size: 24px;
    height: 56px;
    line-height: 28px;
    width: 370px;
    font-family: TTNorms-medium;
  }
  .section4-blur h4 {
    font-size: 18px;
    margin-top: 10px;
    font-family: TTNorms-medium;
  }
  .section4-blur p {
    font-size: 14px;
    margin-top: 10px;
  }
  .section4-blur button {
    height: 32px;
    width: 123px;
    font-size: 14px;
  }
  .section4 {
    margin-bottom: 0;
  }
  .section4-blur{
    padding-top: 23px;
  }
  .section4-blur p {
    width: 400px;
    
  }
  
}
@media screen and (max-width: 400px) {
  .section4-blur h1 {
    width: 337px;
  }
  .section4-blur h4 {
    width: 344px;
  }
  .section4-blur p {
    width: 375px;
    text-align: center;
  }
}

/*section 5 css*/
.section5 {
  margin-bottom: 50px;
}
.section5-content {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
}
.section5-text-contents {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-right: 50px;
}
.section5-text-contents h1 {
  font-size: 40px;
  line-height: 43px;
  letter-spacing: -0.01px;
}
.section5-text-contents p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 22px;
}
.section5-content img {
  width: 695px;
}
.section5-text-contents button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}

@media screen and (max-width:1024px){
  .section5-text-contents {
    margin-left: 25px;
    margin-right: 30px;
  }
  .section5-content img {
    width:546px;
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
  }
}


@media screen and (max-width: 768px) {
  .section5-content img {
    width: 345px;
    height: 500px;
    object-fit: cover;
  
  }
  .section5-text-contents {
    padding-left: 20px;
    width: 323px;
    margin-right: 55px;
  }
  .section5-text-contents p {
    width: 323px;
  }
}

@media (max-width: 500px) {
  .section5-content {
    flex-direction: column-reverse;
    width: 93%;
    margin: 0 auto;
  }
  .section5-text-contents {
    width: 100%;
    padding-left: 0;
  }
  .section5-content img {
    height: 180px;
    width: 100%;
    object-fit: cover;
  }
  .section5-text-contents h1 {
    font-size: 24px;
  }
  .section5-text-contents p {
    font-size: 14px;
    margin-top: 10px;
  }
  .section5-text-contents button {
    font-size: 14px;
    height: 32px;
    width: 130px;
  }
  .section5 {
    margin-top: 20px;
  }
  .section5-text-contents h1 {
    line-height: 28px;
    margin-top: 10px;
}
}
/*section 6 css*/
.section6 {
  background-color: #fef1ee;
  width: 100%;
  padding: 80px 0 20px 0;
  margin-top: -80px;
  margin-bottom: 60px;
}
.grid-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 60px;
  column-gap: 10px;
  row-gap: 50px;
}
.grid-main-heading {
  width: 100%;
  display: flex;
  justify-content: center;
}
.grid-box {
  width: 552px;
}
.grid-box img {
  width: 100%;
  height: 552px;
}
.grid-main-heading h1 {
  font-size: 32px;
  width: 500px;
  height: 80px;
  color: #191919ff;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
.grid-sections h1 {
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  color: black;
  letter-spacing: -0.01px;
  margin-top: 20px;
}
.grid-sections p {
  font-size: 16px;
  text-align: center;
  color: black;
  letter-spacing: -0.01px;
  margin-top: 20px;
}

.grid-sections button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}
.grid-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:1024px){
  .grid-sections {
  max-width: 980px;
  margin: 40px auto;
  gap: 40px;
}
 .grid-box{
    width: 472px;
    height: 655px;
}
 .grid-box img {
    height: 100%;
    height: 100%
}
.section6{
  padding: 80px 0 0 0;
  
}

}


@media screen and (max-width:768px){
  .grid-box {
    width: 344px;
  }
  .grid-box div:nth-child(1) {
    height: 344px;
  }
  .grid-box img {
    object-fit: cover;
    height: 100%
}
.grid-sections{
  gap: 25px;
  padding-left: 20px;
}
.grid-sections{
  row-gap: 0;
}
}



@media screen and (max-width: 500px) {
  .grid-sections {
    grid-auto-flow: column;
    overflow-x: scroll;
    scrollbar-width: none;
    padding-left: 0;
    gap: 10px;
  }
  .section6 {
    padding: 40px 0 0 0;
    margin-top: -30px;
  }
  .grid-sections .grid-box {
     width: 344px;
    margin-right: 10px;
    padding-bottom: 0;
    height: 400px;
  }
  .grid-sections .grid-box:nth-child(1) {
    margin-left: 40px
  }
  .grid-sections .grid-box:nth-last-child(1) {
    margin-right: 40px;
  }
  .grid-box div:nth-child(1){
    height: 180px;
  }
  .grid-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .grid-sections h1 {
    font-size: 24px;
    line-height: 28px;
    width: 308px;
  }
  .grid-sections p {
    font-size: 14px;
    width: 343px;
  }
  .grid-box .text-section3 p:nth-last-child(1){
    font-size: 12px;
  }
  .grid-sections button {
    height: 32px;
    width: 120px;
    font-size: 14px;
  }
  .grid-main-heading {
    width: 100%;
  }
  .grid-main-heading h1 {
    font-size: 24px;
    line-height: 28px;
    width: 300px;
  }
  .grid-sections {
     margin-top: 20px;
    }

}
@media screen and (max-width: 400px) {
  .grid-box img {
    width: 296px;
  }
  .grid-sections .grid-box {
    width: 297px;
  }
  .grid-sections h1 {
    width: 267px;
  }
  .grid-sections p {
    width: 297px;
  }
}

/*section 7 css*/
.section7-main-heading {
  width: 100%;
  height: 80px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
.section7-main-heading h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.01px;
  color: black;
  text-align: center;
  width: 500px;
  height: 100%;
}
.section7-text-contents h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: -0.01px;
}
.section7-content {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
}
.section7-text-contents {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-right: 50px;
}
.section7-text-contents h1 {
  font-size: 40px;
  line-height: 43px;
  letter-spacing: -0.01px;
  width: 360px;
}
.section7-text-contents p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 22px;
}
.section7-content img {
  width: 695px;
}
.section7-text-contents button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}


@media screen and (max-width:1024px){
  .section7-text-contents {
    margin-left: 25px;
    margin-right: 50px;
  }
  .section7-content img {
    width:524px;
    height: 500px;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .section7-content img {
    width: 285px;
    height: 500px;
    object-fit: cover;
  }
  .section7-text-contents {
    padding-left: 20px;
    width: 382px;
    margin-right: 55px;
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .section7-main-heading {
    margin-bottom: 25px;
  }
  .section7-main-heading h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    width: 300px;
  }
  .section7-content {
    flex-direction: column-reverse;
    width: 93%;
    margin: 0 auto;
  }
  .section-text-contents {
    width: 100%;
  }
  .section7-content img {
    height: 180px;
    width: 100%;
    object-fit: cover;
  }
  .section7-text-contents h1 {
    font-size: 24px;
  }
  .section7-text-contents p {
    font-size: 14px;
    margin-top: 10px;
  }
  .section7-text-contents button {
    font-size: 14px;
    height: 32px;
    width: 130px;
  }
  .section7-text-contents{
    padding-left: 0;
  }
}
@media screen and (max-width: 400px) {
  .section7-text-contents p {
    width: 335px;
  }
}

/*section 8 csss*/

.section8 {
  background-color: #fef1ee;
  margin-top: -50px;
  margin-bottom: 40px;
  padding-bottom: 15px;
}
.section8-content {
  display: flex;
  max-width: 1160px;
  margin: 35px auto;
  padding: 50px 0 5px 0;
}
.section8-text-contents {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-left: 50px;
}

.section8-text-contents h1 {
  font-size: 40px;
  line-height: 40px;
  width: 340px;
  letter-spacing: -0.01px;
}
.section8-text-contents p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: -0.01px;
  font-weight: 500;
  line-height: 22px;
}
.section8-content img {
  width: 695px;
}
.section8-text-contents button {
  height: 40px;
  width: 146px;
  border: none;
  color: white;
  background-color: #eb1700ff;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01px;
  border-radius: 9999px;
}

@media screen and (max-width:1024px){
  .section-text-contents {
    margin-left: 44px;
    margin-right: 50px;
  }
  .section8-content img {
    width:524px;
    height: 500px;
    object-fit: cover;
    margin-left: 25px;
  }
  .section8{
    padding-bottom: 0;
  }
}


@media screen and (max-width: 768px) {
  .section8-content img {
    width: 307px;
    height: 500px;
    object-fit: cover;
    margin-left: 0;
  }
  .section8-image {
    margin-left: 20px;
  }
  .section8-text-contents {
    width: 360px;
  }
  
}

@media screen and (max-width: 500px) {
  .section8-content {
    flex-direction: column;
    padding: 320px 0 5px 0;
    width: 93%;
    margin: 0 auto;
  }
  .section8-text-contents {
    width: 100%;
    margin-left: 0;
  }
  .section8-content img {
    height: 180px;
    width: 100%;
    object-fit: cover;
  }
  .section8-text-contents h1 {
    font-size: 24px;
  }
  .section8-text-contents p {
    font-size: 14px;
    margin-top: 10px;
  }
  .section8 {
    margin-top: -290px;
  }
  .section8-text-contents button {
    font-size: 14px;
    height: 32px;
    width: 130px;
  }
  .section8-image {
      margin-left: 0;
  }
}

/*section9 css*/
.section9 {
  width: 1130px;
  height: 368px;
  margin: 0 auto;
  overflow-y: hidden;
}
.section9-main-heading {
  display: flex;
  width: 100%;
  justify-content: center;
}
.section9-main-heading h1 {
  font-size: 32px;
  color: black;
  line-height: 40px;
  letter-spacing: -0.01px;
  text-align: center;
  margin-bottom: 20px;
}

.section9-header-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.section9-header-options h2 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01px;
}
.section9-options-list {
  display: flex;
  flex: 1;
  justify-content: space-between;
  text-align: left;
}
.section9-options-list ul li {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01px;
}
.section9-options-list ul:nth-child(2) {
  margin-right: 43px;
}
.section9-options-list ul:nth-child(3) {
  margin-right: 29px;
}
.section9-options-list ul:nth-child(4) {
  margin-right: 189px;
}
.options-header {
  margin-bottom: 30px;
  color: #191919ff;
  font-weight: 700;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options-header {
  border-bottom: 2px solid #f1f1f1ff;
}
.options-header:nth-child(1) {
  border-bottom: 3px solid #191919ff;
  transition: background-color 0.2s ease;
}
.options-header:nth-child(1):hover {
  background-color: #f7f7f7ff;
}

.see-more-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 60px;
  gap: 10px;
  padding-right: 10px;
}
.see-more-header h1 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.01px;
  line-height: 22px;
  height: 25px;
}
.see-more-header div {
  background-color: #f7f7f7ff;
  height: 40px;
  width: 40px;
  border-radius: 9999px;
  padding-top: 12px;
  padding-left: 7px;
}
.see-more-header div i {
  width: 24px;
  height: 24px;
}
@media screen and (max-width:768px){
  .section9-header-options{
    width: 768px;
  }
  .section9-main-heading{
    width: 768px;
  }
  .see-more-header{
    width: 768px;
  }
}


@media screen and (max-width: 450px) {
  .section9-options-list {
    flex-direction: column;
    margin-top: 10px;
  }
  .section9 {
    height: auto;
  }
  .options-header {
    width: 131px;
    margin-bottom: 0;
    align-items: flex-start;
  }
  .section9 {
    width: 425px;
    padding: 10px;
  }
  .see-more-header h2 {
    font-size: 16px;
  }
  .section9-header-options {
    width: 100vw
  }
  .section9-main-heading{
    width: 100vw;
  }
  .see-more-header{
    width: 100vw;
  }
}
@media screen and (max-width: 400px) {
  .section9-header-options {
    width: 100vw
  }
}

/*footer css*/

.footer {
  background: #191919ff;
  width: 100%;
  min-height: 800px;
  max-height: auto;
}
.footer-main-section {
  width: 1160px;
  margin: 0 auto;
}
.footer-main-section h2 {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01px;
  width: 100%;
  margin: 40px 0 20px 0;
}

.footer-grid-sections li {
  color: rgb(196, 196, 196);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01px;
  margin: 8px 0;
}
.footer-grid-sections {
  width: 244px;
}
.footer-grid-sections:nth-child(7) {
  margin-left: -103px;
}
.footer-grid-sections:nth-child(8) {
  margin-left: -181px;
}
.footer-grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-grid-sections li:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
.download-options {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  gap: 10px;
  margin-top: 70px;
  margin-left: 20px;
}
.download-options div {
  background-color: rgb(73, 73, 73);
  width: 160px;
  height: 52px;
  border-radius: 10px;
  padding: 2px 8px;
}
.download-options div svg {
  transition: fill 0.2s ease;
}
.download-options div svg:hover {
  fill: white;
}
.footer-grid-sections:nth-child(5) {
  display: none;
}


/*sub-footer css*/
.sub-footer {
  min-height: 80px;
  max-height: auto;
  width: 100%;
  background: #191919ff;
  display: flex;
  align-items: center;
}
.sub-footer-main {
  width: 1160px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.sub-footer-first-section {
  display: flex;
}
.sub-footer a {
  text-decoration: none;
  color: rgb(196, 196, 196);
  font-size: 12px;
}
.sub-footer p {
  color: rgb(196, 196, 196);
  font-size: 12px;
}
.sub-footer-first-section div:nth-child(1) {
  display: flex;
  justify-content: center;
}
.sub-footer-first-section div:nth-child(1) div:nth-child(1) {
  margin-right: 15px;
  padding-top: 4px;
}
.sub-footer-first-section div:nth-child(1) div:nth-child(2) {
  margin-right: 20px;
}
.sub-footer-first-section div:nth-child(1) div:nth-child(3) {
  margin-right: 20px;
  margin-bottom: 5px;
}
.sub-footer-first-section div:nth-child(1) div:nth-child(4) {
  margin-right: 20px;
  margin-bottom: 5px;
}
.sub-footer-first-section div:nth-child(2) div:nth-child(1) {
  margin-right: 20px;
}
.sub-footer-first-section div:nth-child(2) div:nth-child(2) {
  margin-right: 90px;
}
.sub-footer-second-section {
  margin-right: 90px;
  color: black;
  position: relative;
  width: 150px;
  height: 32px;
  border-radius: 9999px;
  background-color: #f1f1f1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding: 5px 0px 0px 40px;
}
.sub-footer-second-section svg {
  position: absolute;
  left: 9px;
  top: 4px;
}
.sub-footer-second-section i {
  position: absolute;
  right: 23px;
  top: 5px;
  font-size: 17px;
}
.fist-section-second-sub-footer{
  display: flex;
  align-items: center;
}

.sub-footer-third-section {
  margin-right: 20px;
  width: 96px;
  display: flex;
  flex: 1;
  justify-content: end;
  gap: 10px;
}
.sub-footer-third-section svg {
  fill: #c4c4c4;
}
.sub-footer a{
  font-family: TTNorms-medium;
}
@media screen and (max-width:1024px){
  .footer-grids {
    width: 984px;
    padding-left: 20px;
  }
  .footer h2{
    margin-left: 20px;
  }
  .download-options{
    position: relative;
    top: -32px;
    left: -32px;
  }
  .sub-footer-first-section div:nth-child(2) div:nth-child(2) {
    margin-right: 17px;
  }
  .sub-footer-first-section div:nth-child(1) {
    padding-left: 11px;
}
.sub-footer-second-section {
  margin-right: 0;
}
}





@media screen and (max-width:768px){
  .footer-grids{
    width: 100vw;
  }
  .footer-grid-sections {
    width: 173px;
  }
  .footer-main-section{
    padding-left: 20px;
  }
  .footer-grid-sections:nth-child(6){
    width: 200px;
    margin-right: 30px;
  }
  .footer-grid-sections:nth-child(7){
     width: 150px;
     margin-right: 30px;
  }
  .footer-grid-sections:nth-child(8){
     width: 200px;
     margin-left: 10px;
  }
  .footer-grids .footer-grid-sections:nth-child(2){
    position: relative;
    left: -25px;
  }
  .footer-grids .footer-grid-sections:nth-child(4){
    position: relative;
    left: -25px;
    top: 0px;
  }
  .footer-grids .footer-grid-sections:nth-child(6){
    position: relative;
    left: 0px;
    top: 150px;
  }
  .footer-grids .footer-grid-sections:nth-child(7){
    position: relative;
    left: 145px;
    top: 150px;
  }
  .footer-grids .footer-grid-sections:nth-child(8){
    position: relative;
    top: 150px;
    left: 140px;
  }
  .download-options{
    position: relative;
    top: -32px;
    left: -361px;
  }
  .sub-footer-first-section {
    flex-direction: column;
}
.fist-section-second-sub-footer{
    padding-left: 50px;
}
  .sub-footer-second-section {
      margin-right: 4px;
  }
      .footer h2 {
        margin-left: 0;
      }
      .footer-grids{
        padding-left: 0;
      }
}
@media screen and (max-width: 500px) {
 
  .footer-grids {
    grid-template-columns: 1fr;
    text-align: center;
    width: 100vw;
    padding-left: 0;
  }
  .footer-main-section {
    width: 100vw;
  }
  .footer-main-section h2 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 8px;
  }
   .footer h2{
    margin-left: 0;
  }
  .footer-grid-sections {
    width: 100%;
    text-align: center;
  }
  .footer-grid-sections h2 {
    margin-bottom: 8px;
    margin-top: 32px;
  }
  .download-options {
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-bottom: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .footer-grid-sections:nth-child(5) {
    display: flex;
  }
  .footer-grid-sections:nth-child(9) {
    display: none;
  }
  .footer-grid-sections:nth-child(8) {
    margin-bottom: 20px;
  }
  .footer-grid-sections:nth-child(6) h2 {
    margin-top: 0;
  }
  .footer-grid-sections:nth-child(7) {
    margin-left: 0;
  }
  .footer-grid-sections:nth-child(8) {
    margin-left: 0;
  }

  .footer-grids .footer-grid-sections:nth-child(2){
    position: static;

  }
  .footer-grids .footer-grid-sections:nth-child(4){
    position: static;
   
  }
  .footer-grids .footer-grid-sections:nth-child(6){
    position: static;
    margin-left: 112px;
   
  }
  .footer-grids .footer-grid-sections:nth-child(7){
    position: static;
    margin-left: 137px;
  
  }
  .footer-grids .footer-grid-sections:nth-child(8){
    position: static;
    margin-left: 112px;
 
  }
  .download-options{
    position: static;
   
  }
  .footer-main-section {
    padding-left: 0;
  }
  .sub-footer-main {
    width: 100vw;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .sub-footer-third-section {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .sub-footer-second-section {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .sub-footer-first-section {
    margin-right: 0;
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .sub-footer-first-section div:nth-child(2) {
    text-align: center;
    margin: 0;
    gap: 10px;
  }
  .fist-section-second-sub-footer {
    padding-left: 36px;
    padding-bottom: 30px;
  }
  .sub-footer-first-section div:nth-child(2) div:nth-child(1) {
    margin-right: 0;
  }
  .sub-footer-first-section div:nth-child(2) div:nth-child(2) {
    margin-right: 0;
    margin-top: 0;
  }
  .sub-footer-first-section div:nth-child(6),
  .sub-footer-first-section div:nth-child(5),
  .sub-footer-first-section div:nth-child(4),
  .sub-footer-first-section div:nth-child(3),
  .sub-footer-first-section div:nth-child(2),
  .sub-footer-first-section div:nth-child(1) {
    margin-right: 0;
  }
}

@media screen and (max-width:400px) {
  .footer-grids .footer-grid-sections:nth-child(6){
    position: static;
    margin-left: 90px;
   
  }
  .footer-grids .footer-grid-sections:nth-child(7){
    position: static;
    margin-left: 115px;
  
  }
  .footer-grids .footer-grid-sections:nth-child(8){
    position: static;
    margin-left: 90px;
 
  }
  .fist-section-second-sub-footer{
    flex-wrap: wrap;
    justify-content: center;
  }
}

