*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: TTNormsProCond-Blk, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1,h4,p,button,div{
    overflow-y: hidden;
}

/*section one css*/

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 48px;
    background-color:white;
    display: flex;
    flex: 1;
    z-index: 1000;
}

.header-sections{
    height: 100%;
    width: 100%;
}

.right-header-section {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
    padding: 13px 10px 13px 0;
}
.signin-btn{
    font-size: 18px;
    font-weight: bold;
    background-color: #EB1700;
    color: white;
    border: none;
    width: 81px;
    height: 40px;
    border-radius: 9999px;
}
.signup-btn{
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    color: #606060;
    border: none;
   width: 90px;
    height: 40px;
    border-radius: 9999px;
}
.middle-header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-left: 5px;
    height: 100%;
}
.middle-header-section div{
    height: 100%;
    display: flex;
    align-items: center;
}
.middle-header-section span{
    margin-top: 3px;
    margin-right: 14px;
} 
.left-header-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    height: 100%;
}
.doordash-logo-hidden{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-header-section span{
    margin-right: 8px;
    margin-top: 4px;
    margin-left: 9px;
} 
.doordash-logo-small-size-display{
    display: none;
}

/*section 1 css*/
.section1{
    background: url(images/hero_desktop.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.doordash-logo{
    display: none;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.doordash-logo svg:nth-child(1){
    margin-left: 4px;
    margin-top: 12px;
}
.doordash-logo svg:nth-child(2){
    margin-left: 8px;
    margin-top: 10px;
}
.section1-content{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section1-content h1{
    color: white;
    font-weight: 900;
    max-width: 781px;
    text-transform: uppercase;
    font-size: 40px;
}
.address-input{
    padding: 8px 8px 8px 53px;
    width: 408px;
    height: 56px;
    border: none;
    border-radius: 9999px;
    background-color: white;
    color: rgb(168, 164, 164);
    font-size: 16px;
    line-height: 22px;
    font-weight: 550;
    letter-spacing: 0.01px;
    margin: 20px 0;
}
.input-address-box{
    position: relative;
}
.input-address-box .location-icon{
    position: absolute;
    left: 17px;
    top: 36px;
}
.input-address-box .search-icon{
    position: absolute;
    left: 196px;
    top: 34px;
    display: none;
}
.ar-btn{
    position: absolute;
    left: 356px;
    top: 26px;
    padding: 11px 11px 11px 11px;
    background-color: rgb(233, 9, 9);
    border-radius: 50px;
    border: none;
    color: white;
}
.auto-sign-in-option{
    width: 203px;
    height: 32px;
    background-color: white;
}
.section1-content p{
    background-color: white;
    width: 203px;
    text-align: center;
}
.t1{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 100px;
    padding-right: 74px;
}
.t1 svg{
    position: absolute;
    top: 9px;
    left: 11px;
}
.t1 p{
    padding: 6px 9px 6px 13px;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 550;
    color: black;
    width: 233px;
    height: 32px;
}
.t1-s-main{
    display: none;
}
.ar-btn .fa-arrow-right{
    font-size: 18px;
    margin-top: 2px;
}


.options{
    max-width: 1104px;
    max-height: 444px;
    margin: auto;
}
.s-screen-btns{
    display: none;
    gap: 10px;
    position: absolute;
    top: 110px;
    right: 25px;
}

.s-screen-login-btn{
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    width: 66px;
    height: 40px;
    border-radius: 9999px;
}

.s-screen-openapp-btn{
    font-size: 16px;
    font-weight: bold;
    background-color: #EB1700;
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 9999px;
}
@media screen and (max-width:760px){
    .header{
        max-width: 765px;
        height: 95px;
        background-color: white;
        position: absolute;
    }
    .section1-content{
        margin-top: 96px;
    }
    .section1-content h1{
        color: white;
        font-size: 32px;
        font-weight: 900;
        max-width: 350px;
        margin-left: 20px;
        line-height: 26px;
        margin-top: 20px;
    }
    .input-address-box .location-icon{
    display: none;
    }
    .input-address-box .search-icon{
        left: 15px;
        top: 34px;
        display: block;
    }
    .ar-btn{
        left: 248px;
        top: 24px;
    }
    
    .t1 svg{
        left: 58px;
    }
    .t1-s{
        display: none;
    } 
    .address-input{
        width: 297px;
        height: 52px;
    }
    .signup-btn{
        display: none;
    } 
    .doordash-logo{
        display: flex;
    }
    .doordash-logo-hidden{
        display: none;
    }
    .doordash-logo-small-size-display{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 10px 10px 3px;

}
.doordash-small-logo{
    width: 52px;
    height: 30px;
}
.right-header-section{
    display: none;
}
.doordash-logo-small-size-display div:nth-child(1){
        padding: 12px 9px 10px 4px;
        margin-top: 13px;
        margin-left: -1px;
        border: 1px solid #f1f1f1ff;
        border-radius: 10px;
    }
    .signin-btn{
        margin-left: 76px;
        margin-top: 20px;
        width: 66px;
        height: 32px;
        font-size: 16px;
        padding-bottom: 4px;
    }
    .doordash-logo-small-size-display p:nth-child(2){   
    font-size: 14px;
    }

    .s-screen-btns{
        display: flex;
    }
}
.left-header-section{
    padding: 0;
}
.middle-header-section{
    display: none;
}
.doordash-logo-small-size-display p{
    margin: 4px 0;
}
.doordash-logo-small-size-display p:nth-child(1){   
    font-size: 16px;
    font-weight: bold;
}
.doordash-logo-small-size-display p:nth-child(2){   
    font-size: 16px;
    color: #606060ff;
}
.doordash-logo-small-size-display p:nth-child(3){
    font-size: 14px;
    color: #606060ff;
}
.ratings-star{
    display: flex;
    gap: 3px;
}
.ratings-star p{
    margin-top: -5px;
    font-size: 14px;
    color: #606060;
    margin-left: 3px;
    font-weight: 500;
}
.small-size-texts{
    margin-left: 8px;
    margin-top: 8px;
}
.small-size-texts p:nth-child(2){
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
}
.small-size-texts p:nth-child(1){
    margin-bottom:2px;
}

.t1-s{
    display: flex;
    justify-content: center;
    position: relative;
    width: 81px;
    height: 31px;
}
.t1-s svg{
    position: absolute;
    top: 8px;
    left: 9px;
}
.t1-s p{
    padding: 6px 30px;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 550;
    color: black;
}
.t1-s-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}
.t2-s{
    display: none;
    justify-content: center;
    position: relative;
    width: 180px;
    height: 31px;
}
.t2-s svg{
    position: absolute;
    top: 7px;
    left: 11px;
}
.t2-s p{
    padding: 5px 0 10px 6px;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 550;
    color: black;
}



/*section2 css*/

.section2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1104px;
    margin: 90px auto;
    gap: 110px;
    padding-right: 55px;

}
.sub-options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.sub-options img{
    width: 154px;
    height: 154px;
}
.sub-options h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 2px;
}
.sub-options h4{
    color:#191919ff;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01px;
    margin-bottom: 6px;
}
.sub-options div:nth-child(2){
    width: 250px;
    height: 230px;
}
.sub-options-link a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #eb1700ff;
    letter-spacing: -0.01px;
}
@media screen and (max-width:750px){
    .t1{
        display:none;
    }
    .t2-s{
        display: flex;
    }
}
@media screen and (min-width:750px){
    .t1-s{
        display:none;
    }
}




@media screen and (max-width:1000px){
    .options{
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0;
    max-width: none;
    max-height: none;
}
.section2{
    width: 100%;
    margin: 0 auto;
    height: auto;

}
.sub-options img{
    width: 88px;
    height: 88px;
    margin-bottom: 110px;
}

.sub-options{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 238px;
    text-align: left;
}
.sub-options div:nth-child(2){
    width: 250px;
    height: auto;
    padding-left: 25px;
}
.sub-options-link a{
    font-size: 14px;
    }
}


/*section three css*/

.section3-content{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
}
.section3-text-contents{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width:400px;
    margin-right: 50px;
}
.section3-text-contents h1{
    font-size: 40px;
    line-height: 43px;
    letter-spacing: -0.01px
}
.section3-text-contents h4{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: -0.01px;
}
.section3-text-contents p{
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    line-height: 22px;
}
.section3-content img{
    width: 695px;
}
.section3-text-contents button{
    height: 40px;
    width: 146px;
    border: none;
    color: white;
    background-color: #eb1700ff;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    border-radius: 9999px;
}



/*section 3 part 2*/
.section3p2{
    background-color: #fef1ee;
    margin-top: -50px;
}
.section3p2-content{
    display: flex;
    max-width: 1160px;
    margin: 35px auto;
    padding: 50px 0 5px 0;
}
.section3p2-text-contents{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width:400px;
    margin-left: 50px;
}

.section3p2-text-contents h1{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.01px
}
.section3p2-text-contents p{
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    line-height: 22px;
}
.section3p2-content img{
    width: 695px;
}
.section3p2-text-contents button{
    height: 40px;
    width: 146px;
    border: none;
    color: white;
    background-color: #eb1700ff;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    border-radius: 9999px;
}

@media screen and (max-width:768px){
    .section3-content{
        flex-direction: column-reverse;
        width: 93%;
        margin: 0 auto;
}
.section3-text-contents{
    width: 100%;
}
.section3-content img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.section3-text-contents h1{
    font-size: 24px;
}
.section3-text-contents h4{
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}
.section3-text-contents p{
    font-size: 14px;
    margin-top: 10px;
    
}
.section3-text-contents button{
    font-size: 14px;
    height: 32px;
    width: 130px;
}

.section3p2-content{
    flex-direction: column;
    padding: 320px 0 5px 0;
    width: 93%;
    margin: 0 auto;
}
.section3p2-text-contents{
    width: 100%;
    margin-left: 0;
}
.section3p2-content img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.section3p2-text-contents h1{
    font-size: 24px;
}
.section3p2-text-contents p{
    font-size: 14px;
    margin-top: 10px;
    
}
.section3p2{
    margin-top: -290px;
}
.section3p2-text-contents button{
    font-size: 14px;
    height: 32px;
    width: 130px;
}
}




/*section 4 css*/

.section4{
    height: 600px;
    width: 100%;
    background: url(images/grocery_desktop.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
    margin-bottom: 60px;
}
.section4-blur{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.497);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section4-blur h1{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.01px;
    color: white;
    width: 495px;
    height: 120px;
    text-align: center;
}
.section4-blur h4{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: -0.01px;
    color: white;
    width: 382px;
    height: 24px;
    text-align: center;
}
.section4-blur p{
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    line-height: 22px;
    color: white;
    width: 550px;
    height: 44px;
    text-align: center;
}
.section4-blur button{
    height: 40px;
    width: 146px;
    border: none;
    color: white;
    background-color: #eb1700ff;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    border-radius: 9999px;
}


@media screen and (max-width:768px){
    .section4{
        height: 350px;
        width: 100%;
        margin-top: 30px;
        
    }
    .section4-blur h1{
        font-size: 24px;
        height: 56px;
        line-height: 28px;
    }
    .section4-blur h4{
        font-size: 18px;
        margin-top: 10px;
    }
    .section4-blur p{
        font-size: 14px;
        margin-top: 10px;
    }
    .section4-blur button{
        height: 32px;
        width: 123px;
        font-size: 14px;
}
    .section4{
        margin-bottom: 0;
    }
}
@media screen and (max-width:500px) {
    .section4-blur p{
        width: 400px;
    }
}



/*section 5 css*/
.section5{
    margin-bottom: 50px;
}
.section5-content{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
}
.section5-text-contents{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width:400px;
    margin-right: 50px;
}
.section5-text-contents h1{
    font-size: 40px;
    line-height: 43px;
    letter-spacing: -0.01px
}
.section5-text-contents p{
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    line-height: 22px;
}
.section5-content img{
    width: 695px;
}
.section5-text-contents button{
    height: 40px;
    width: 146px;
    border: none;
    color: white;
    background-color: #eb1700ff;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    border-radius: 9999px;
}


@media screen and (max-width:768px){
      .section5-content{
        flex-direction: column-reverse;
        width: 93%;
        margin: 0 auto;
}
    .section5-text-contents{
        width: 100%;
}
    .section5-content img{
        height: 180px;
        width: 100%;
        object-fit: cover;
}
    .section5-text-contents h1{
        font-size: 24px;
}
    .section5-text-contents p{
        font-size: 14px;
        margin-top: 10px;
    
}
    .section5-text-contents button{
        font-size: 14px;
        height: 32px;
        width: 130px;
}
    .section5{
        margin-top: 20px;
    }
}




/*section 6 css*/
.section6{
    background-color:#fef1ee;
    width: 100%;
    padding: 80px 0 20px 0;
    margin-top: -80px;
    margin-bottom: 60px;
}
.grid-sections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1184px;
    margin: 0 auto;
    margin-top: 60px;
    column-gap: 10px;
    row-gap: 50px;
}
.grid-main-heading{
    width: 100%;
    display: flex;
    justify-content: center;
}
.grid-sections .grid-box{
    width: 552px;
}
.grid-box img{
    width: 100%;
    height: 552px;
}
.grid-main-heading h1{
    font-size: 32px;
    width: 500px;
    height: 80px;
    color: #191919ff;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}
.grid-sections h1{
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    color: black;
    letter-spacing: -0.01px;
    margin-top: 20px;
}
.grid-sections p{
    font-size:16px;
    text-align: center;
    color: black;
    letter-spacing: -0.01px;
    margin-top: 20px;
}

.grid-sections button{
    height: 40px;
    width: 146px;
    border: none;
    color: white;
    background-color: #eb1700ff;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    border-radius: 9999px;
}
.grid-text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:768px){
    .grid-sections{
        grid-auto-flow: column;
        overflow-x:scroll;
        scrollbar-width: none;
    }
    .section6{ 
        padding: 40px 0 20px 0;
        margin-top: -30px;
    }
    .grid-sections .grid-box {
        width: 448px;
        margin-right: 10px;
    
    }
    .grid-sections .grid-box:nth-child(1){
        margin-left: 50px;
    }
    .grid-sections .grid-box:nth-last-child(1){
        margin-right: 50px;
    }
    .grid-box img{
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    .grid-sections h1{
        font-size: 24px;
        line-height: 28px;
        width: 367px;
    }
    .grid-sections p{
        font-size: 14px;
        width: 408px;
    }
    .grid-sections button{
    height: 32px;
    width: 120px;
    font-size: 14px;
    }
    .grid-main-heading{
        width: 100%;
    }
    .grid-main-heading h1{
        font-size: 24px;
        line-height: 28px;
        width: 300px;
    }
    
}
@media screen and (max-width:500px){
    .grid-sections .grid-box {
        width: 343px;
    }
    .grid-box img{
        width: 100%;
        height: 184px;
        object-fit: cover;
    }
    .grid-sections .grid-box:nth-child(1){
        margin-left: 40px;
    }
    .grid-sections .grid-box:nth-last-child(1){
        margin-right: 40px;
    }
    .grid-sections p{
        width: 343px;
    }
}





/*section 7 css*/
.section7-main-heading{
    width: 100%;
    height: 80px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.section7-main-heading h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
    color: black;
    text-align: center;
    width: 500px;
    height: 100%;
    
}
.section7-text-contents h4{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: -0.01px;
}
.section7-content{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
}
.section7-text-contents{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width:400px;
    margin-right: 50px;
}
.section7-text-contents h1{
    font-size: 40px;
    line-height: 43px;
    letter-spacing: -0.01px;
    width: 360px;

}
.section7-text-contents p{
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    line-height: 22px;
}
.section7-content img{
    width: 695px;
}
.section7-text-contents button{
    height: 40px;
    width: 146px;
    border: none;
    color: white;
    background-color: #eb1700ff;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    border-radius: 9999px;
}
@media screen and (max-width:768px){
    .section7-main-heading{
        margin-bottom: 25px;
    }
    .section7-main-heading h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    width: 300px;
    
}
    .section7-content{
        flex-direction: column-reverse;
        width: 93%;
        margin: 0 auto;
}
.section-text-contents{
    width: 100%;
}
.section7-content img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.section7-text-contents h1{
    font-size: 24px;
}
.section7-text-contents p{
    font-size: 14px;
    margin-top: 10px;
    
}
.section7-text-contents button{
    font-size: 14px;
    height: 32px;
    width: 130px;
}
}

/*section 8 csss*/

.section8{
    background-color: #fef1ee;
    margin-top: -50px;
    margin-bottom: 40px;
}
.section8-content{
    display: flex;
    max-width: 1160px;
    margin: 35px auto;
    padding: 50px 0 5px 0;
}
.section8-text-contents{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width:400px;
    margin-left: 50px;
}

.section8-text-contents h1{
    font-size: 40px;
    line-height: 40px;
    width: 340px;
    letter-spacing: -0.01px
}
.section8-text-contents p{
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    line-height: 22px;
}
.section8-content img{
    width: 695px;
}
.section8-text-contents button{
    height: 40px;
    width: 146px;
    border: none;
    color: white;
    background-color: #eb1700ff;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
    border-radius: 9999px;
}



@media screen and (max-width:768px){
    .section8-content{
    flex-direction: column;
    padding: 320px 0 5px 0;
    width: 93%;
    margin: 0 auto;
}
.section8-text-contents{
    width: 100%;
    margin-left: 0;
}
.section8-content img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.section8-text-contents h1{
    font-size: 24px;
}
.section8-text-contents p{
    font-size: 14px;
    margin-top: 10px;
    
}
.section8{
    margin-top: -290px;
}
.section8-text-contents button{
    font-size: 14px;
    height: 32px;
    width: 130px;
}
}



/*section9 css*/
.section9{
    width: 1130px;
    height: 368px;
    margin: 0 auto;
    overflow-y: hidden;
}
.section9-main-heading{
    display: flex;
    width: 100%;
    justify-content: center;
}
.section9-main-heading h1{
    font-size: 32px;
    color: black;
    line-height: 40px;
    letter-spacing: -0.01px;
    text-align: center;
    margin-bottom: 20px;
}

.section9-header-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.section9-header-options h2{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
}
.section9-options-list{
    display: flex;
    flex: 1;
    justify-content: space-between;
    text-align: left;
}
.section9-options-list ul li{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
}
.section9-options-list ul:nth-child(2){
    margin-right: 43px;
}
.section9-options-list ul:nth-child(3){
    margin-right: 29px;
}
.section9-options-list ul:nth-child(4){
    margin-right: 189px;
}
.options-header{
    margin-bottom: 30px;
    color:#191919ff ;
    font-weight: 700;
    width: 361px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.options-header:nth-child(1){
    border-bottom:3px solid  #191919ff;  
    transition: background-color .2s ease; 
}
.options-header:nth-child(1):hover{
    background-color: #f7f7f7ff;
}

.see-more-header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 60px;
    gap: 10px;
    padding-right: 10px;
}
.see-more-header h1{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.01px;
    line-height: 22px;
    height:25px
    
}
.see-more-header div{
    background-color: #f7f7f7ff;
    height: 40px;
    width: 40px;
    border-radius: 9999px;
    padding-top: 12px;
    padding-left: 7px;
    
}
.see-more-header div i{
    width: 24px;
    height: 24px;
}
@media screen and (max-width:450px){
    .section9-options-list{
        flex-direction: column;
        margin-top: 10px;
    }
    .section9{
        height: auto;
    }
    .options-header{
        width: 131px;
        margin-bottom: 0;
        align-items: flex-start;
    }
    .section9{
        width: 425px;
        padding: 10px;
    }
    .see-more-header h2{
    font-size: 16px;
    }
    
}


/*footer css*/




.footer{
    background: #191919ff;
    width: 100%;
    min-height: 800px;
    max-height: auto;
}
.footer-main-section{
    width: 1160px;
    margin: 0 auto;
}
.footer-main-section h2{
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01px;
    width: 100%;
    margin: 40px 0 20px 0;
}

.footer-grid-sections li{
    color:rgb(196, 196, 196);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    margin: 8px 0;
}
.footer-grid-sections{
    width: 244px;
}
.footer-grids{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-grid-sections li:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
.download-options{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    gap: 10px;
    margin-top: 70px;
    margin-left: 20px;
}
.download-options div{
    background-color: rgb(73, 73, 73);
    width: 160px;
    height: 52px;
    border-radius: 10px;
    padding: 2px 8px;
}
.download-options div svg{
    transition: fill .2s ease;
}
.download-options div svg:hover{
    fill: white;
}




/*sub-footer css*/


.sub-footer{
    min-height: 80px;
    max-height: auto;
    width: 100%;
    background: #191919ff;
    
}
.sub-footer-main{
    width: 1160px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.sub-footer a{
    text-decoration: none;
    color:rgb(196, 196, 196);
    font-size: 12px;
}
.sub-footer p{
    color:rgb(196, 196, 196);
    font-size: 12px;
}
.doordash-footer-logo{
    margin-right: 10px;
}
.sub-footer-main div:nth-child(1){
    margin-right: 15px;
    margin-top: 10px;
}
.sub-footer-main div:nth-child(2){
    margin-right: 20px;
}
.sub-footer-main div:nth-child(3){
    margin-right: 20px;
}
.sub-footer-main div:nth-child(4){
    margin-right: 20px;
}
.sub-footer-main div:nth-child(5){
    margin-right: 20px;
}
.sub-footer-main div:nth-child(6){
    margin-right: 90px;
    margin-top: 3px;
}
.sub-footer-main div:nth-child(7){
    margin-right: 90px;
    color: black;
    position: relative;
    width: 150px;
    height: 32px;
    border-radius: 9999px;
    background-color:#F1F1F1;
    font-size:14px;
    line-height: 20px;
    font-weight: 500;
    padding: 5px 0px 0px 40px;
}
.sub-footer-main div:nth-child(7) svg{
    position: absolute;
    left: 9px;
    top: 4px;
}
.sub-footer-main div:nth-child(7) i{
    position: absolute;
    right: 23px;
    top: 5px;
    font-size: 17px;
}
.sub-footer-main div:nth-child(8){
    margin-right: 20px;
    width: 96px;
    display: flex;
    flex: 1;
    justify-content: end;
    gap: 10px;
}
.sub-footer-main div:nth-child(8) svg{
    fill: #C4C4C4;
}


@media screen and (max-width:500px){
    .footer-grids{
        grid-template-columns: 1fr;
        text-align: center;
        width: 100vw;
    }
    .footer-main-section{
        width: 100vw;
    }
    .footer-main-section h2{
        text-align: center;
    }
    .footer-grid-sections{
        width: 100%;
        text-align: center;
    }
    .footer-grid-sections:nth-child(5){
        display: none;
    }
    .footer-grid-sections:nth-child(6){
        display: none;
    }
    .footer-grid-sections:nth-child(7){
        display: none;
    }
    .download-options{
        justify-content: center;
        align-items: center;
        padding-right: 40px;
        padding-bottom: 10px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
}